body {
    background-color:grey
    border-right: 750px
    border-left: 750px
}
h1 {
    color: blue;
  }
  h2 {
    color: green;
    font-style: italic;
  }
  p {
    font-family: sans-serif;
  }
  ol, ul {
    line-height: 40px;
  }
  